{% extends "base.html" %}

{% block title %}

Booking Confirmed

{% endblock %}

{% block content %}
      
      <!-- Event Successfully Created Form-->
      <div class="container py-5">

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }} ">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Create Events</li>
          </ol>
        </nav>

        <div class="event-form mt-5">
          <div class="row justify-content-center">
            <h1 class="text-center mb-5">Booking Successful</h1>
            
            <div class="col-lg-10 col-md-12">
              <div class="card p-4 shadow-sm text-center">

                <!-- <div class="display-1 text-success mb-3">✓</div> -->
                <div class="text-center mb-4">
                  <i class="bi bi-check-circle-fill text-success display-1"></i>
                </div>
            
                <h2 class="alert alert-success">Tickets Confirmed</h2>
            
                <p class="text-muted">          
                  Thank you for booking. Your booking details has been recorded.
                </p>
            
                <div class="mt-4">
            
                  <a href="{{ url_for('index') }}" class="btn btn-primary mb-2">
                    Return to Homepage
                  </a> 
            
                </div>
            
              </div>
            </div>
          </div>
        </div>
      </div>

    {% endblock %}