{% extends "base.html" %}

{% block title %}

Event Successfully Created

{% endblock %}

{% block content %}
    
      <!-- Event Successfully Created Form-->
      <div class="container py-5">

            <h2 class="alert alert-success">
              Event Published
            </h2>

            <p class="text-muted">
              Your festival event has been successfully created and is published.
            </p>

            <div class="mt-4">
              <a href="{{ url_for('index') }}" class="btn btn-primary mb-2">
                Return to Homepage
              </a>
            </div>
          </div>
        </div>
      </div>

{% endblock %}