{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h4 class="text-center mb-4">{{ heading }}</h4>

            {{ render_form(form) }}

            {% if heading == 'Login' %}
            <p class="text-center mt-3">
                New user?
                <a href="{{ url_for('auth.register') }}">
                    Click here
                </a>
                to register.
            </p>
            {% endif %}

        </div>
    </div>
</div>

{% endblock %}