{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}

<div class="page-header">
    <h4>{{ heading }}</h4>
</div>

<!-- Form rendering using WTForms and Bootstrap -->
<div class="col-md-6">
    {{ render_form(form) }}
</div>

<!-- Show registration link on login page -->
{% if heading == 'Login' %}
<div class="col-md-4">
    <p>New user? 
        <a href="{{url_for('auth.register')}}">
            Click here
        </a> 
        to register.
    </p>
</div>

{% endblock %}
